

@media only screen and (max-width: 600px) {
    .mansory {
        margin-top: 60px;
        column-count: 1;
        column-gap: 1em;
        padding-left: 20px;
    }
    .banner_principal{
        svg{
            display: none;
        }
        h2{
            font-size: 44px;
        }
        p{
            font-size: 12px;
        }
        a.botao_portfolio{
            padding-left: 60px;
            &:after{
                width: 48px;
            }
        }
    }
    .whats_botao{
        img{
            width: 180px;
        }
    }
    .servicos {
        .servico_card {
            max-width: 294px;
            padding: 30px 9px;
            background: #FFF;
            border: 11px solid #e3e3e3;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    div#typedtext{
        min-height: 157px;
    }
    .modal .modal-content {
        padding: 25px 4px;
        background: #f3f3f3;
    }.modal h2 {
        color: #000;
        text-transform: inherit;
        margin-bottom: 27px;
        text-align: center;
        font-size: 23px;
    }
    a.btn.orcamentos {
        background: #212529;
        color: #FFF;
        padding: 7px 26px;
        text-shadow: 0 0 black;
        font-weight: 600;
        letter-spacing: 0.05em;
        border-radius: 30px;
        box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
        -webkit-animation: pulse 1.5s infinite;
        font-size: 14px;
        position: absolute;
        left: 35%;
        top: 29%;
    }
    .affix{
        .logo svg{
                width: 84px;
        }
    }
  }
